@use "./board" as mixin;



@media (min-width: 1918px) {
     body{
        justify-content: center;
        align-items: center;
    }

    #profile{
        height: calc(100vh * 0.32);
        width: calc(100% -  (100% * 0.62));
    }
    
    #page {
        position: relative;
        justify-content: start;
        height: calc(100vh * 0.82);
        width: calc(100% -  (100% * 0.32) );
    }

    #menu{
        
        & li.options{
            @include mixin.board();
        }
    }
}

@media (min-width: 1081px) {
    
}

@media (max-width:988px) {
    
    #name_perfil{
        font-size: 24px;
    }

    #job_perfil{
        font-size: 20px;
        margin-bottom: 15px;
    }
}