* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #2A7B9B;
  background: linear-gradient(333deg, rgb(42, 123, 155) 0%, rgb(87, 199, 133) 53%, rgb(237, 221, 83) 100%);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

#page {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 58%;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 5px;
  background-color: whitesmoke;
}
#menu li.options {
  width: 95px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu li.options label.option_box {
  display: flex;
  flex-direction: ro;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#menu li.options input.option {
  display: none;
}
#menu li.options input.option:checked + label.option_box::before {
  filter: invert(1);
}
#menu li.options input.option:checked + label.box_content {
  background-color: white;
  color: black;
}
#menu li.options input.option:checked + label.box_content {
  color: white;
  background-color: #57C785;
}
#menu li.options input.option:checked + label.box_content img.logo {
  filter: brightness(0) invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}
#menu li.options input.option:checked ~ section.board {
  display: flex;
}
#menu li.options input.option:not(:checked) ~ section.board {
  display: none;
}
#menu li.options label.option_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
#menu li.options label.option_box:hover {
  background-color: #57C785;
  color: whitesmoke;
}
#menu li.options label.option_box:hover img.logo {
  filter: brightness(0) invert(1) sepia(1) saturate(0) hue-rotate(0deg);
}
#menu li.options section.board {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 0;
  top: 8vh;
  width: 42%;
  height: 82%;
  background-color: whitesmoke;
  overflow-y: scroll;
  padding: 15px;
}
#menu li.options section.board main.about {
  margin-bottom: 15px;
}
#menu li.options section.board main.about article span {
  font-weight: bolder;
}
#menu li.options section.board footer.additional_infos ul.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#menu li.options section.board footer.additional_infos ul.techs li.tech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px 10px 0;
}
#menu li.options section.board footer.additional_infos ul.techs li.tech img {
  width: 45px;
  height: 45px;
}
#menu li.options section.board header span.title, #menu li.options section.board footer span.title {
  display: flex;
  flex-direction: row;
  color: rgb(114.75, 114.75, 114.75);
  font-size: 32px;
  margin: 0 0 15px 0;
}
#menu li.options section.board header span.title p, #menu li.options section.board footer span.title p {
  color: black;
}

#profile {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32%;
}

#links_perfil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#links_perfil img {
  width: 45px;
  height: 45px;
}
#links_perfil a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 0;
}

@media (min-width: 1081px) {
  body {
    justify-content: center;
    align-items: center;
  }
  #profile {
    height: 32vh;
    width: 38%;
  }
  #page {
    position: relative;
    justify-content: left;
    height: 82vh;
    width: 58%;
  }
  #menu li.options section.board {
    top: 8%;
    right: 190px;
    width: 42%;
    height: 82%;
  }
}

/*# sourceMappingURL=main.css.map */
