body{
    width: 100vw;
    height: 100vh;
    background: #2A7B9B;
    background: linear-gradient(333deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 53%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

#page{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: calc(100% -  (100% * 0.42));
    
}

#menu_options{
    

    & section.options{
        
        & input.menu_input{
            display: none;
        }

        & span.board{
            display: flex;
            position: absolute;
            flex-direction: column;
            right: 0;
            top: calc(100vh * 0.08);
            width: calc(100% * 0.42);
            height: calc(100% * 0.82);
            background-color: whitesmoke;
            overflow-y:scroll;
            padding: 15px;

            & header.title{
                font-size: 38px;
                color:rgb(66, 64, 64);
                padding: 0 0 10px 0;
                & span{
                    font-weight: 700;
                    color:black;
                }

            }

            & main.about{
                
            }

            & footer.infos{
                
                & label.infos_title{
                    font-size: 38px;
                    color:rgb(66, 64, 64);
                    padding: 0 0 10px 0;
                    & span{
                        font-weight: 700;
                        color:black;
                    }

                }
                

                & ul.info_items{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow-y: scroll;
                    &  li.item{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 10px 10px 0 0;
                        & img{
                            width: 64px;
                            height: 64px;
                        }
                    }
                }
            }
        }

        & label.label_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.menu_logo{

            }

        }
    }
}

#profile{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: calc( 100% * 0.32);

}

#links_perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & img{
        width: 45px;
        height: 45px;
    }

    & a {
        text-decoration: none;
        color:black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 15px 0 0;
    }
}

@media (min-width: 1081px) {
    body{
        justify-content: center;
        align-items: center;
    }

    #profile{
        
        height: calc(100vh * 0.32);
        width: calc(100% -  (100% * 0.42));
    }
    
    #page {
        position: relative;
        justify-content: left;
        height: calc(100vh * 0.82);
        width: calc(100% -  (100% * 0.32) );
    }
    #menu_options{
        
        & section.options{

            & span.board{
                position: absolute;
                right: 0;
                top: calc(100% * 0.08);
                width: calc(100% * 0.42);
                height: calc(100% * 0.82);
            }
        }
    }
}